<div class="card">
    <span class="block text-900 font-bold text-xl mb-4">Create Product</span>
    <div class="grid grid-nogutter flex-wrap gap-3 p-fluid">
        <div class="col-12 lg:col-8">
            <div class="grid formgrid">
                <div class="col-12 field">
                    <input pInputText type="text" placeholder="Product Name" label="Product Name" [(ngModel)]="product.name">
                </div>
                <div class="col-12 lg:col-4 field">
                    <input pInputText type="number" min="0"  placeholder="Price" label="Price" [(ngModel)]="product.prix">
                </div>
                <div class="col-12 lg:col-4 field">
                    <input pInputText type="number"  min="0" placeholder="Quantity" label="Quantity" [(ngModel)]="product.quantite_stock">
                </div>
        
                <div class="col-12 field">
                    <p-editor [(ngModel)]="product.description" [style]="{'height':'250px'}"></p-editor>
                </div>
                <div class="col-12 field">
                    <!-- <p-fileUpload #fileUploader name="demo[]" url="./upload.php" (onUpload)="onUpload($event)" [customUpload]="true" [multiple]="true" (onSelect)="onUpload($event)" accept="image/*" [showUploadButton]="true" [showCancelButton]="false" [auto]="true" styleClass="border-1 surface-border surface-card border-round">
                        <ng-template pTemplate="content">
                            <div class="h-15rem overflow-y-auto py-3 border-round" style="cursor: copy" (click)="fileUploader.advancedFileInput.nativeElement.click()">
                                <div *ngIf="product.image.name === 'default'" class="flex flex-column w-full h-full justify-content-center align-items-center">
                                    <i class="pi pi-file text-4xl text-primary"></i>
                                    <span class="block font-semibold text-900 text-lg mt-3">Drop or select image</span>
                                </div>
                                <div class="flex flex-wrap gap-3 border-round" *ngIf="product.image.name !== 'default'">
                                    <div  class="h-full relative w-7rem h-7rem border-3 border-transparent border-round hover:bg-primary transition-duration-100 cursor-auto" (mouseenter)="onImageMouseOver(product.image)" (mouseleave)="onImageMouseLeave(product.image)" style="padding: 1px;">
                                        <img [src]="product.image.objectURL" class="w-full h-full border-round shadow-2" [alt]="product.image.name">
                                        <button [id]="product.image.name" #buttonEl pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-primary text-sm absolute justify-content-center align-items-center cursor-pointer w-2rem h-2rem" style="top: -10px; right: -10px; display: none;" (click)="$event.stopPropagation(); removeImage(product.image)"></button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-fileUpload> -->
                    <img *ngIf="product.image" [src]="product.image" alt="Product Image" style="max-width: 320px; height: auto;">
                    <input type="file" autocomplete="off" pInputText placeholder="Picture" class="block mb-3" style="max-width: 320px; min-width: 270px;" (change)="onFileSelected($event)">

                </div>
            </div>
        </div>

        <div class="flex-1 w-full lg:w-3 xl:w-4 flex flex-column row-gap-3">
           

            <div class="border-1 surface-border border-round">
                <span  class="text-900 font-bold block border-bottom-1 surface-border p-3">Brand</span>
                <div class="p-3 flex flex-wrap gap-1">
                    <div class="col-12 lg:col-4 field">
                        <input pInputText type="text" placeholder="Brand" label="Brand" [(ngModel)]="product.brand">
                    </div>
                </div>
            </div>

            <div class="border-1 surface-border border-round">
                <span class="text-900 font-bold block border-bottom-1 surface-border p-3">Category</span>
                <div class="p-3">
                    <p-dropdown [options]="categoriesList" [(ngModel)]="product.categorie" placeholder="Select a category"></p-dropdown>
                </div>
            </div>

            <div class="border-1 surface-border border-round">
                <span class="text-900 font-bold block border-bottom-1 surface-border p-3">Colors</span>
                <div class="p-3 flex">
                    <div *ngFor="let color of colorOptions" class="w-2rem h-2rem mr-2 border-1 surface-border border-circle cursor-pointer flex justify-content-center align-items-center" [class]="color.background" (click)="onColorSelect(color.name)">
                        <i class="pi pi-check text-sm text-white" *ngIf="product.couleur === color.name"></i>
                    </div>
                </div>
            </div>

            <div class="border-1 surface-border flex justify-content-between align-items-center py-2 px-3 border-round">
                <span class="text-900 font-bold p-3">In stock</span>
                <p-inputSwitch [(ngModel)]="product.available"></p-inputSwitch>
            </div>

            <div class="flex flex-column sm:flex-row justify-content-between align-items-center gap-3 py-2">
                <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="Discard" (click)="discard()"  icon="pi pi-fw pi-trash"></button>
                <button pButton pRipple class="p-button-primary flex-1 border-round" (click)="createNewProduct()" label="Save" icon="pi pi-fw pi-check"></button>
            </div>
        </div>
    </div>
</div>