<div class="card">
    <p-dataView [value]="totalBlogs" [paginator]="true" [rows]="3" filterBy="title" [sortField]="sortField" [sortOrder]="-1" layout="grid">
      <ng-template pTemplate="header">
        <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between gap-3">
          <span class="text-xl text-900 font-semibold">Articles</span>
          <p-dropdown [options]="sortOptions" [(ngModel)]="sortField" placeholder="Sort by" styleClass="w-full md:w-15rem"></p-dropdown>
        </div>
      </ng-template>
  
      <ng-template let-blog pTemplate="gridItem">
        <div class="col-12 md:col-4">
          <app-blog-list-card [blog]="blog" (blogClicked)="onBlogSelected($event)"></app-blog-list-card>
        </div>
      </ng-template>
    </p-dataView>
  </div>
  