<div class="grid">
  <!-- Table des commandes -->
  <p-table #dt [value]="commandes" [columns]="cols" responsiveLayout="scroll" [rows]="10"
           [globalFilterFields]="['numCommande','statut','prixTotal','modePaiement', 'produits']"
           [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
           currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} commandes"
           [(selection)]="selectedCommande" selectionMode="single" [rowHover]="true" dataKey="_id">

    <!-- Toolbar avec p-fileUpload -->
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="right">
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
        <button pButton pRipple label="Historique des Facturation" icon="pi pi-calendar" class="p-button-secondary" (click)="goToHistorique()"></button>

      </ng-template>
    </p-toolbar>

    <ng-template pTemplate="caption">
      <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
        <span class="block mt-2 md:mt-0 p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                 placeholder="Rechercher par numéro de commande ou nom de produit..." class="w-full sm:w-auto"/>
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="numCommande">Numéro de Commande <p-sortIcon field="numCommande"></p-sortIcon></th>
        <th pSortableColumn="produit">Nom des Produits <p-sortIcon field="numCommande"></p-sortIcon></th>
        <th pSortableColumn="statut">Statut <p-sortIcon field="statut"></p-sortIcon></th>
        <th pSortableColumn="prixTotal">Prix Total <p-sortIcon field="prixTotal"></p-sortIcon></th>
        <th pSortableColumn="modePaiement">Mode de Paiement <p-sortIcon field="modePaiement"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-commande>
      <tr>
        <td>
          <p-tableCheckbox #dt [value]="commande"></p-tableCheckbox>
        </td>
        <td style="min-width: 10rem;">
          <span class="p-column-title">Numéro de Commande</span>
          {{commande.numCommande}}
        </td>
        <td style="min-width: 10rem;">
          <span class="p-column-title">Nom des Produits</span>
          <ng-container *ngFor="let produit of commande.produits">
            <div>{{ produit?.idProduit?.name }}</div>
          </ng-container>
        </td>
      
          <td style="min-width: 10rem;">
            <span class="p-column-title">Statut Livraison</span>
            <ng-container *ngIf="isAdmin(); else statusDisplay">
              <p-dropdown [options]="livraisonStatusOptions"
                          [(ngModel)]="commande.statutLivraison"
                          (onChange)="updateLivraisonStatut(commande._id, $event.value)">
              </p-dropdown>
            </ng-container>
            <ng-template #statusDisplay>
              {{ getLivraisonStatut(commande)}}
            </ng-template>
          </td>        
        <td style="min-width: 8rem;">
          <span class="p-column-title">Prix Total</span>
          {{commande.prixTotal | currency:'USD'}}
        </td>
        <td style="min-width: 10rem;">
          <span class="p-column-title">Mode de Paiement</span>
          {{commande.modePaiement}}
        </td>
        <td>
          <div style="display: flex; align-items: center;">
            <button pButton type="button" icon="pi pi-info-circle" (click)="showDetailsDialog(commande)">
              Détails
            </button>
            <!-- Affichage conditionnel du bouton Annuler -->
            <button *ngIf="!isAdmin()" pButton type="button" icon="pi pi-times"
                    class="p-button-danger" (click)="showCancellationConfirmation(commande._id)">
              Annuler
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Dialog pour les détails de commande -->
<p-dialog [(visible)]="displayDetailsDialog" [style]="{ width: '800px' }" header="Détails de la Commande" [modal]="true">
  <ng-template pTemplate="content">
    <div class="p-grid">
      <div class="p-col-12">
        <!-- Détails de la commande -->
        <div class="field">
          <label for="numCommande">Numéro de Commande</label>
          <input type="text" pInputText id="numCommande" [value]="selectedCommande?.numCommande" disabled>
        </div>
        <div class="field">
          <label for="statut">Statut</label>
          <input type="text" pInputText id="statut" [value]="selectedCommande?.statutLivraison" disabled>
        </div>
        <div class="field">
          <label for="prixTotal">Prix Total</label>
          <input type="text" pInputText id="prixTotal" [value]="selectedCommande?.prixTotal | currency:'TND'" disabled>
        </div>
        <div class="field">
          <label for="modePaiement">Mode de Paiement</label>
          <input type="text" pInputText id="modePaiement" [value]="selectedCommande?.modePaiement" disabled>
        </div>

        <!-- Informations de livraison -->
        <div>
          <h5>Informations de Livraison</h5>
          <p>
            Nom: {{ selectedCommande?.infosLivraison?.nom }}<br>
            Prénom: {{ selectedCommande?.infosLivraison?.prenom }}<br>
            Adresse: {{ selectedCommande?.infosLivraison?.adresse }}<br>
            Ville: {{ selectedCommande?.infosLivraison?.ville }}<br>
            Code Postal: {{ selectedCommande?.infosLivraison?.codePostal }}<br>
            Pays: {{ selectedCommande?.infosLivraison?.pays }}<br>
            Téléphone: {{ selectedCommande?.infosLivraison?.telephone }}
          </p>
        </div>

        <!-- Informations sur les produits -->
        <div>
          <h5>Informations sur les Produits</h5>
          <table class="table">
            <thead>
              <tr>
                <th>Nom du Produit</th>
                <th>Quantité</th>
                <th>Prix Unitaire</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="selectedCommande?.produits && selectedCommande?.produits?.length; else noProducts">
                <tr *ngFor="let produit of selectedCommande?.produits">
                  <td>{{ produit?.idProduit?.name }}</td>
                  <td>{{ produit?.quantite }}</td>
                  <td>{{ produit?.prixUnitaire | currency:'USD' }}</td>
                </tr>
              </ng-container>
              <ng-template #noProducts>
                <tr>
                  <td colspan="3">Aucun produit trouvé</td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton type="button" label="Fermer" icon="pi pi-times" class="p-button-text" (click)="closeDetailsDialog()"></button>
  </ng-template>
</p-dialog>

<!-- Dialog for Cancellation Confirmation -->
<dialog #cancelConfirmationModal class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">Confirmation d'annulation</h5>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir annuler la commande ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancelConfirmationModal.close()">Fermer</button>
        <button *ngIf="!isAdmin()" type="button" class="btn btn-danger" (click)="updateLivraisonStatut(selectedCommande?._id,'annulée')">Confirmer</button>
      </div>
    </div>
  </div>
</dialog>
